$primary-dark: #1a1b25;
$primary-medium: #2f324e;
$primary-light: #e2e2e2;
$main-orange: #ff9587;
$main-purple: #febafe;

$front-light: #ffffff;
$front-medium-light: #cccccc;
$front-medium-dark: #9a9a9a;
$front-dark: #000000;
